.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}